/*
* ----------- GLOBAL---------------------------------------------------------------------------
*/
* {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 100%;
    outline: 0;
    vertical-align: baseline;
}
html, body {
    width: 100vw;
    height: 100vh;
    background-color: var(--main-black);
    overflow-y: show; 
    overflow-x:hidden;
}
:root {
    --main-black: #1F202B;
    --main-white: #ffffff;
    --accent: #262626;

    --button1: #2ecc71;
    --button2: #f1c40f;
    --button3: #3498db;
    --button4: #e74c3c;
    --button5: #9b59b6;
}
/*
* ----------- NAV ---------------------------------------------------------------------------
*/
ul {
    padding: 2.5%;
    position: relative;
    width: 100vh;
    margin: 10px 200px 30px;
}
ul li{
    list-style: none;
    float: left;
    padding: 10px 20px;
    color: var(--main-white);
    border: 1px solid var(--main-white);
    margin-right: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}
ul li:hover, .active {
    background-color: var(--main-white);
    color: var(--accent);
    cursor: pointer;

}
.wrapper {
    height: 100%;
    padding: 0 30px;
    margin: 5px 5px 5px 200px;
    box-sizing: border-box;
}
.wrapper .box {
    width: 20%;
    height: 100px;
    color: rgba(255, 255, 255, 5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    box-sizing: border-box;
    margin: 5px;
    float: left;
    line-height: 100px;
    text-align: center;
    text-transform: uppercase;
}

/*
* ----------- CONTENT ---------------------------------------------------------------------------
*/

.website {
    background-color: var(--button1);
}
.graphics {
    background-color: var(--button2);
}
.photography {
    background-color: var(--button3);
}
.logo {
    background-color: var(--button4);
}
.uiux {
    background-color: var(--button5);
}

#website-section {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--button1);
}

#graphics-section {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--main-black);
}
h1 {
    font-size: 2em;
    margin: 10vh 10vh 0vh 5vh;
    color: rgba(255, 255, 255, 5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    text-transform: uppercase;
    line-height: none;

}
p {
    flex-direction: column;
    font-size: 1rem;
    margin: 10vh 5vh 0 5vh;
    color: rgba(255, 255, 255, 5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
}


/*
* ----------- RESPONSIVE ---------------------------------------------------------------------------
*/

@media only screen and (max-width: 600px) {

    ul {
        margin: 5% 5% 5%;
        width: 90%
    }

    ul li {
        margin: 15px;
        margin-right: 0px;
    }

    .wrapper {
        margin: 0 auto;
    }

    .wrapper .box {
        width: 100%;
    }

    #website-section, #graphics-section {
        display: inline-block;
        height: 150%;
    }
    p {
        flex-direction: none;
        margin: 10%;
        overflow: hidden;
    }
    h1 {
        font-size: 2em;
        margin-top: 7%;
        margin-left: 10%;
    }
}